@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

:root {
    --container-background-color: hsl(212, 45%, 89%);
    --p-font-color: hsl(220, 15%, 55%);
    --h1-font-color: hsl(218, 44%, 22%); 
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10fr auto;
    background-color: var(--container-background-color);
}

main {
    width: 90%;
    max-width: 300px;
    height: 90%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 26px;
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
}

.p {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 20%;
}

.h1 h1{
    font-size: 24px;
    color: var(--h1-font-color);
    font-weight: 700;
}

.qr-code {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    height: 60%;
}

.qr-code img{
    position: absolute;
    width: 100%;
    border-radius: 20px;
}

.p p{
    font-size: 15px;
    width: 85%;
    font-weight: 400;
    color: var(--p-font-color);
}


@media screen and (max-width: 375px){
    main {
        width: 80vw;
        height: 80vh;
    }
} 
